<h1>GMAPS TESTING!!!</h1>

<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ 
    internal: {id: 'multi_markers'}},
    function(){
      var markers = handler.addMarkers([
        { lat: 45, 
          lng: 4, 
          picture: {
            url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            width:  36,
            height: 36
          }
        },
        { lat: 47, lng: 3.5}
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>